.dashboard_inner_wrapper {
  @apply relative top-0 left-0 flex;
}
/* ************************************************************ */
/* ******************** DashHeader Component ****************** */
/* ************************************************************ */
.dash_header_wrapper {
  @apply fixed top-0 left-0 w-full m-0 z-20;
  @apply bg-bgColor md:space-x-12 lg:space-x-0;
  @apply flex flex-row justify-between px-4 md:px-8 py-4;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
}

.dash_header_wrapper .left_wrapper {
  @apply flex justify-between items-center lg:space-x-3;
  @apply w-full lg:w-[60%];
}

.hamburger {
  @apply inline-flex p-3 rounded lg:hidden text-color2 ml-auto;
  @apply hover:text-[#3b3f47] outline-none overflow-y-auto;
  @apply absolute top-1/2 left-0 translate-y-[-50%] z-10;
}

.dash_header_wrapper .left_wrapper .logo img {
  @apply w-full max-w-[144.8px] h-auto;
}

.dash_header_wrapper .right_wrapper {
  @apply flex flex-row sm:w-8/12 md:w-1/2 justify-end items-center;
  @apply ml-2 sm:space-x-4 md:space-x-6 md:pr-0;
  @apply text-color1;
}

.left_wrapper .logo {
  @apply hidden lg:block w-0 md:w-[60%] lg:w-[40%];
  @apply cursor-pointer;
}

.search_wrapper {
  @apply relative flex flex-row justify-center items-center w-full lg:w-[60%];
}

.search_wrapper input {
  @apply border-2 border-[rgba(84,95,125,0.15)];
  @apply h-[45px] md:h-[40px] w-full px-4 mr-[-.5rem];
  @apply rounded-br-none rounded-tr-none;
  @apply rounded-bl-lg rounded-tl-lg pl-12 lg:pl-4;
  @apply focus:border-2 focus:border-color2;
  @apply focus:outline-2 focus:outline-color2;
  @apply placeholder:text-sm;
}

.search_wrapper div {
  @apply bg-color2;
  @apply h-[45px] md:h-[40px] px-4 rounded-br-lg rounded-tr-lg;
  @apply flex md:justify-start cursor-pointer hover:bg-color3;
}

.search_wrapper div img {
  @apply w-full max-w-[15px] h-auto;
}

.right_wrapper .docs h1 {
  @apply underline underline-offset-4 font-normal text-[16px];
  @apply hidden sm:block font-roboto cursor-pointer hover:no-underline;
}

.right_wrapper .bell {
  @apply hidden sm:block cursor-pointer;
}

.right_wrapper .bell img {
  @apply w-full max-w-[19.67px] h-auto;
}

.right_wrapper .mobile_avatar {
  @apply flex flex-row sm:hidden justify-evenly items-center;
  @apply sm:mr-2 space-x-2 cursor-pointer rounded-full;
}

.right_wrapper .mobile_avatar img {
  @apply w-11/12 md:w-full max-w-[48px] h-auto;
}

.right_wrapper .avatar {
  @apply hidden sm:flex flex-row justify-evenly items-center;
  @apply sm:mr-2 space-x-2 cursor-pointer rounded-full;
}

.right_wrapper .avatar img {
  @apply w-11/12 md:w-full max-w-[48px] h-auto;
}

.avatar .profile_name {
  @apply sm:flex flex-row justify-evenly items-center;
  @apply space-x-1 font-semibold;
}

.avatar .profile_name img {
  @apply w-full max-w-[12px] h-auto;
}

.desktop_logout {
  @apply hidden space-x-2 items-center absolute top-16 right-6 z-50 w-fit;
  @apply bg-bgColor py-3 px-5 cursor-pointer whitespace-nowrap;
  @apply rounded-b font-medium text-color1 hover:bg-gray-50;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
}

.right_wrapper .avatar:hover .desktop_logout {
  @apply sm:flex;
}

/* ************************************************************ */
/* ******************** BackDrop Component ******************** */
/* ************************************************************ */
.backDrop {
  backdrop-filter: blur(3px);
  @apply fixed lg:hidden left-0 top-0 h-screen;
  @apply w-full z-20 bg-[rgba(11,16,24,0.87)];
  /* @apply lg:ml-[15rem] lg:w-[calc(100%-15rem)]; */
}

/* ************************************************************ */
/* ******************** LogoutModal Component ****************** */
/* ************************************************************ */
.logout_modal {
  @apply fixed md:hidden top-[10%] left-1/2 translate-x-[-50%];
  @apply z-30 bg-color5 w-[90%] rounded-md;
}

.logout_modal > div {
  @apply border-t-2 border-gray-300 px-3;
  @apply text-color7;
  @apply cursor-pointer font-semibold py-4;
  @apply hover:text-color1;
  @apply hover:bg-color6;
  @apply hover:border-t-color2;
}

.logout_modal .modal_header {
  @apply flex justify-between py-2 w-full;
}

.logout_modal .modal_header .logo {
  @apply flex justify-center w-full text-center;
}

.logout_modal .modal_header .logo img {
  @apply w-full max-w-[150px] h-auto;
}

.logout_modal .avatar {
  @apply border-t-color5;
  @apply flex w-full space-x-4 relative;
}

.logout_modal .avatar .profile_name {
  @apply flex flex-col items-start;
}

.logout_modal .avatar .profile_name p {
  @apply font-normal mt-[-.3rem];
}

.logout_modal .docs,
.logout_modal .bell,
.logout_modal .logout {
  @apply flex w-full space-x-4 items-center;
}

/* ************************************************************* */
/* ******************** DashSideBar Component ****************** */
/* ************************************************************ */

.dash_sidebar_wrapper {
  @apply h-screen overflow-y-scroll bg-white;
  @apply font-normal text-color7 hidden;
  @apply text-base fixed top-0 left-0 z-10 lg:block;
  @apply md:w-[32%] lg:w-[25%] xl:w-[20%];
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
}

.dash_sidebar_wrapper > div {
  @apply px-5 cursor-pointer hover:bg-gray-100;
  @apply border-l-[3px] border-white py-2;
  @apply hover:border-color9;
  @apply hover:text-color1;
}

#customers_0 {
  @apply px-5 cursor-pointer bg-color6;
  @apply border-l-[3px] py-2;
  @apply border-color2;
  @apply text-color1;
}

.dash_sidebar_wrapper > div > span:first-child img {
  @apply w-full max-w-[16px] h-auto;
}

.dash_sidebar_wrapper > span {
  @apply px-5;
}

.dash_sidebar_wrapper > h3 {
  @apply font-semibold text-xs text-color8 px-5;
  @apply mt-[10%] uppercase mb-[3%];
}

.dash_sidebar_wrapper .switch_organisation {
  @apply mt-[50%] flex w-full items-center space-x-2;
  @apply text-color1 cursor-pointer;
}

.dash_sidebar_wrapper .switch_organisation .text {
  @apply flex items-center w-full space-x-2;
}

.dash_sidebar_wrapper .switch_organisation .text img {
  @apply w-full max-w-[11px] h-auto;
}

.dash_sidebar_wrapper .dashboard {
  @apply mt-[15%] flex w-full items-center space-x-2;
}

.dash_sidebar_wrapper .customers,
.businesses,
.settings {
  @apply flex w-full items-center space-x-2;
}

.dash_sidebar_wrapper .logout {
  @apply mt-[20%] flex w-full items-center space-x-2;
  @apply border-t border-gray-200 py-5;
}

/* ******************************************************************* */
/* ******************** MobileDashSideBar Component ****************** */
/* ******************************************************************* */

.mobile_dash_sidebar_wrapper {
  @apply h-screen overflow-y-scroll pb-2;
  @apply bg-bgColor lit:w-auto w-[70%] sm:w-[60%];
  @apply font-normal text-color7 lg:hidden block;
  @apply text-lg fixed top-0 left-0 shadow-md z-30 overflow-x-hidden;
}

.mobile_dash_sidebar_wrapper .close {
  @apply absolute top-0 right-[-.5rem];
}

.mobile_dash_sidebar_wrapper .logo img {
  @apply w-full max-w-[144.8px] h-auto;
}

.mobile_dash_sidebar_wrapper .logo {
  @apply cursor-pointer pl-5 pt-5;
}

.mobile_dash_sidebar_wrapper > div {
  @apply px-5 cursor-pointer hover:hover:bg-gray-100;
  @apply border-l-[3px] border-white py-2;
  @apply hover:border-color9;
  @apply hover:text-color1;
}

.mobile_dash_sidebar_wrapper > div > span:first-child img {
  @apply w-full max-w-[18px] h-auto;
}

.mobile_dash_sidebar_wrapper > span {
  @apply px-5;
}

.mobile_dash_sidebar_wrapper > h3 {
  @apply font-semibold text-xs text-color8 px-5;
  @apply mt-[10%] uppercase mb-[3%];
}

.mobile_dash_sidebar_wrapper .switch_organisation {
  @apply mt-[10%] flex w-full items-center space-x-2;
  @apply text-color1 cursor-pointer;
}

.mobile_dash_sidebar_wrapper .switch_organisation .text {
  @apply flex items-center w-full space-x-1;
}

.mobile_dash_sidebar_wrapper .switch_organisation .text img {
  @apply w-full max-w-[8px] h-auto;
}

.mobile_dash_sidebar_wrapper .dashboard {
  @apply mt-[15%] flex w-full items-center space-x-2;
}

.mobile_dash_sidebar_wrapper .customers,
.businesses,
.settings {
  @apply flex w-full items-center space-x-2;
}

.mobile_dash_sidebar_wrapper .logout {
  @apply mt-[10%] flex w-full items-center space-x-2;
  @apply border-t border-gray-200 py-5;
}

.version {
  @apply lowercase font-normal text-xs px-5;
}

/* ******************************************************************* */
/* ******************** DashMain Component *************************** */
/* ******************************************************************* */

.dash_main_wrapper {
  @apply lg:ml-[25%] xl:ml-[20%] w-full bg-[#FBFBFB];
  @apply text-black h-screen px-4 md:px-8 py-4 overflow-y-scroll;
}

.dash_main_wrapper p {
  @apply lit:mt-[38%] mt-[20%] sm:mt-[20%] md:mt-[13%] text-left text-2xl font-semibold;
  @apply text-color1;
}

.dash_main_wrapper .card_box_wrapper {
  @apply mt-[4%] flex ml-0 overflow-x-auto;
  @apply space-x-6 w-full mx-auto;
  @apply flex-row justify-between;
}

.dash_main_wrapper .card_box {
  @apply bg-bgColor;
  @apply flex flex-col rounded w-full;
  @apply space-y-3 justify-items-stretch px-6 py-4 pb-6;
  border: 1px solid rgba(20, 40, 80, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
}

.dash_main_wrapper .card_box img {
  @apply w-full max-w-[40px] h-auto;
}

.dash_main_wrapper .card_box h3 {
  @apply font-semibold text-sm text-color8;
}

.dash_main_wrapper .card_box h1 {
  @apply font-semibold text-2xl text-color1;
}

/* ******************************************************************* */
/* ******************** DashTable Component ************************** */
/* ******************************************************************* */

.dash_table_wrapper {
  @apply bg-bgColor mt-[5%] font-normal overflow-x-scroll;
  @apply rounded w-full px-6 py-4 text-sm text-color7;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
}

.dash_table_wrapper table {
  @apply w-full text-sm text-left;
}

.dash_table_wrapper table thead {
  @apply text-xs uppercase font-bold;
}

.table_head {
  @apply flex items-center space-x-2 whitespace-nowrap w-full;
}

.dash_table_row {
  @apply border-b border-[#e9ecf2] hover:text-color1;
  @apply hover:bg-gray-100 whitespace-nowrap;
}

.dash_table_row:last-child {
  @apply border-none;
}

.dash_table_row > td {
  @apply py-5 px-2 w-fit;
}

/* ******************************************************************* */
/* ******************** Pagination Component ************************* */
/* ******************************************************************* */

.pagination_wrapper {
  @apply flex flex-col md:flex-row mt-[4%] md:mt-[2%] mb-[4%] justify-between text-sm;
  @apply text-color1 font-medium space-y-3 md:space-y-0;
}

.pagination_wrapper .left {
  @apply flex space-x-3 w-full items-center;
  @apply justify-center md:justify-start;
}

.pagination_wrapper .right {
  @apply flex justify-center md:justify-end space-x-3 items-center;
  @apply text-color7 font-normal w-full;
}

.pagination_wrapper .left span {
  @apply flex space-x-2 items-center bg-color9;
  @apply rounded font-semibold py-1 px-2;
}

.pagination_wrapper .right span {
  @apply bg-color9 hover:bg-color2;
  @apply flex items-center rounded cursor-pointer p-2;
}

.pagination_wrapper .right h3 {
  @apply cursor-pointer hover:text-color1;
  @apply hover:font-semibold;
}

.pagination_wrapper .right span img {
  @apply w-full max-w-[6.57px] h-auto;
}

/* *********************************************************************** */
/* ******************** FilterDropDown Component ************************* */
/* *********************************************************************** */

.filter_dropdown_wrapper {
  @apply hidden absolute top-[30px] left-0 md:min-w-[270px] px-4 py-6;
  @apply bg-bgColor rounded m-0;
  border: 1px solid rgba(84, 95, 125, 0.14);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
}

.filter_dropdown_wrapper form {
  @apply flex flex-col space-y-4 font-semibold;
  @apply text-color8 text-sm;
}

.filter_dropdown_wrapper form > div {
  @apply flex flex-col items-start w-full space-y-1;
}

.filter_dropdown_wrapper form > div select {
  @apply w-full border border-colorX;
  @apply rounded-lg py-2 px-4 font-normal bg-transparent;
  @apply focus:border focus:border-color2;
  @apply focus:outline focus:outline-color2;
}

.filter_dropdown_wrapper form > div input {
  @apply w-full border border-colorX;
  @apply placeholder:font-normal py-2 px-4 rounded-lg font-normal;
  @apply focus:border focus:border-color2;
  @apply focus:outline focus:outline-color2;
}

.filter_dropdown_wrapper .btn_wrapper {
  @apply flex flex-row items-center justify-between space-y-0 space-x-2;
}

.filter_dropdown_wrapper .btn_wrapper .reset_btn {
  @apply w-full px-4 py-2 text-color8;
  @apply border border-color8 rounded-lg;
  @apply hover:bg-color8 hover:text-bgColor;
}

.filter_dropdown_wrapper .btn_wrapper .filter_btn {
  @apply bg-color2 w-full px-4 py-2 rounded-lg;
  @apply border border-color2 text-bgColor;
  @apply hover:bg-color3 hover:border-color3;
}

.table_head:hover .filter_dropdown_wrapper {
  @apply flex;
}

.table_head:hover .filter_dropdown_wrapper {
  display: block;
}

.table_head_row > th:last-child:hover .filter_dropdown_wrapper {
  @apply left-[-120%];
}

/* *********************************************************************** */
/* ******************** UserOptionModal Component ************************* */
/* *********************************************************************** */
.user_option_modal {
  @apply hidden absolute lg:min-w-[180px] top-0 right-0 rounded bg-bgColor;
  @apply text-color8 font-semibold z-30;
  border: 1px solid rgba(84, 95, 125, 0.04);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
}

.user_option_modal div {
  @apply flex flex-col;
}

.user_option_modal div > div {
  @apply flex flex-row space-x-2 items-center cursor-pointer;
  @apply hover:bg-gray-100 px-6 py-4;
}

.user_option_modal div > div p {
  @apply m-0 text-sm;
}

.user_option_modal div > div span img {
  @apply w-full max-w-[20px] h-auto;
}

.option_icon {
  @apply w-5 h-5 cursor-pointer;
}

.option_icon:hover ~ .user_option_modal {
  @apply block;
}

.table_body > tr:nth-last-child(2) > td:last-child:hover .user_option_modal {
  @apply top-[-8rem];
  /* @apply border-2 border-red-600; */
}

.table_body > tr:last-child > td:last-child:hover .user_option_modal {
  @apply top-[-8rem];
}
