@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "AvenirBold";
  src: url("../../public/assets/fonts/AvenirNextLTPro-Bold.otf");
}
@font-face {
  font-family: "AvenirRegular";
  src: url("../../public/assets/fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "WorkSansRegular";
  src: url("../../public/assets/fonts/WorkSans-Regular.ttf");
}

:root {
  --bgColor: #ffffff;
  --color1: #213f7d;
  --color2: #39cdcc;
  --color3: #2a9b9b;
  --color4: #d93025;
  --color5: #fbfbfb;
  --color6: #F3FCFC;
  --color7: #7A8CB1;
  --color8: #545F7D;
}

*::selection {
  background: var(--color1);
  color: #eaeaea;
}

* {
  box-sizing: border-box;
}

html,
body {
  @apply p-0 m-0 bg-[color:var(--bgColor)];
  @apply font-worksans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
